* {margin:0; padding:0; list-style: none}
body {overflow-x: hidden;}

#wrap {width: 1920px}
#main {height: 1024px; background: url("../images/background.jpg")}
#portfolio {height: 4190px}

/*헤더*/
#header {position: fixed; top:24px; z-index: 990; transition: top 0.3s ease-in-out;}
#header>.logo {position: relative; top:1px; left: 50px; display:inline-block; z-index: 999}
#header>.menu {position: relative; top:0; left:831px; z-index: 998}

/*오디오 코멘터리*/
#header>.commentary {
  background-color: #fff;
  width: 300px; height: 300px;
  padding-left: 50px;
  position: absolute;
  z-index: 100;
  right: -2100px;
  top:-330px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
#header>.commentary:hover, #header>.commentary:focus {
  transform: translate3d(-324px, 0, 0);
  animation-timing-function: 1s ease-in;
}
#header>.commentary>.playlist {position: relative; top: 340px; left: -50px}
#header>.commentary>audio {position: relative; top: 284px; left: 40px}

/*햄버거메뉴 삭제*/
#header input {display: none}

#header input + label {
  position: absolute;
  top: 10px;
  left: 880px;
  height: 20px;
  width: 15px;
  z-index: 995;
}
#header input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: .5s;
}

#header label:hover {
  cursor: pointer;
}

#header input ~ nav {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 993;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden;
}
#header input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 24%;
  left: 20%;
  right: 20%;
}
#header input ~ nav > ul > li {
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
}
#header input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  display: block;
  padding: 40px;
}
#header input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
#header input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: .5s;
}
/*햄버거메뉴 끝*/

/*헤더 자바스크립트로 숨기는 동작*/
#main>.nav-up {top: -56px;}

/*타이포와 스크롤다운*/
#main>.title {position: relative; top:660px; left:59px; z-index:100}

/*스크롤다운 버튼*/
#main>.scrolldown {position: relative; top: 610px; left:1190px; z-index:101}
#main>.mouse {position: relative; top:660px; left:1153px; z-index: 102}

/*스크롤다운 바운스 애니메이션*/
#main>.mouse {
  -moz-animation: bounce 2.4s infinite;
  -webkit-animation: bounce 2.4s infinite;
  animation: bounce 2.4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-16px);
  }
  60% {
    transform: translateY(-8px);
  }
}

/*스크롤 영역 - 포트폴리오 섬네일 페이지*/

/*모바일 섬네일*/
#portfolio>.mobile {position: relative; top: -182px; left:387px; display: inline-block; width: 516px; height: 396px; z-index: 201}
#portfolio>.mobile>a {display: block; width: 516px; height: 396px}

/*퍼스널 사이트 섬네일*/
#portfolio>.personal {position: relative; top:52px; left:666px; display: inline-block; width: 462px; height: 673px; z-index: 202}
#portfolio>.personal>a {display: block; width: 462px; height: 673px}

/*웹 프로젝트 섬네일*/
#portfolio>.web {position: relative; top:665px; left:-715px; display: inline-block; width: 764px; height: 779px; z-index: 203}
#portfolio>.web>a {display: block; width: 764px; height: 779px}

/*이벤트 섬네일*/
#portfolio>.event {position: relative; top:235px; left:1095px; display: inline-block; width: 408px; height: 434px; z-index: 204}
#portfolio>.event>a {display: block; width: 408px; height: 434px}

/*꾸밈요소01*/
#portfolio>.parts01 {position: relative; top:374px; left:-226px; display: inline-block; width: 176px; height: 273px; z-index: 205}

/*모델링 포스터 섬네일*/
#portfolio>.poster {position: relative; top:958px; left:-98px; display: inline-block; width: 930px; height: 630px; z-index: 206}
#portfolio>.poster>a {display: block; width: 930px; height: 630px}

/*꾸밈요소02*/
#portfolio>.parts02 {position: relative; top:660px; left:105px; display: inline-block; width: 125px; height: 352px; z-index: 207}

/*브랜딩 섬네일*/
#portfolio>.branding {position: relative; top:770px; left:402px; display: inline-block; width: 412px; height: 493px; z-index: 208}
#portfolio>.branding>a {display: block; width: 412px; height: 493px}

/*일러스트 섬네일*/
#portfolio>.illust {position: relative; top:1073px; left:587px; display: inline-block; width: 710px; height: 836px; z-index: 209}
#portfolio>.illust>a {display: block; width: 710px; height: 836px}

/*꾸밈요소03*/
#portfolio>.parts03 {position: relative; top:990px; left:-995px; display: inline-block; width: 238px; height: 100px; z-index: 210}

/*그래픽디자인 섬네일*/
#portfolio>.graphic {position: relative; top:1010px; left:260px; display: inline-block; width: 694px; height: 777px; z-index: 211}
#portfolio>.graphic>a {display: block; width: 694px; height: 777px}

/*그래픽디자인 섬네일*/
#portfolio>.contactme {position: relative; top:1000px; left:367px; display: inline-block; width: 471px; height: 390px; z-index: 212}
#portfolio>.contactme>a {display: block; width: 471px; height: 390px}

/*푸터 / 카피라이트*/
#footer {clear: both; width: 1920px; height: 50px;}
#footer>.copyright {padding-left: 820px}